.news{
    color: white;
}
.responsible-width{
    width: 50%;
}
@media (min-width: 320px) and (max-width: 424px) {
    .responsible-width{
        width: 100%;
    }

}
@media (min-width: 425px) and (max-width: 575px) {
    .responsible-width{
        width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .responsible-width{
        width: 100%;
    }
}
