.liveplay-l {
    padding: 10.5px 16px;  
    width: 550px;
    height: 30px;
    text-align: left;
    font-size: 12px;
}
.liveplay-r {
    padding: 10.5px 16px;  
    width: 550px;
    height: 30px;
    text-align: right;
    font-size: 12px;
}

.liveplay-time {
    padding: 10.5px 16px;
    width: 20x;
    height: 30px;
    text-align: center;
    font-size: 12px;
    background: #3d4c64;
    color: #fbfbfb;
}








.fikstur-bilgi {
    padding: 10.5px 16px;
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 12px;
    background: #2a3444;
    color: #fbfbfb;
}
.fikstur-sira-l {
    padding: 10.5px 16px;  
    width: 18px;
    height: 50px;
    text-align: left;
    font-size: 12px;
}
.fikstur-sira-r {
    padding: 10.5px 16px;  
    width: 18px;
    height: 50px;
    text-align: right;
    font-size: 12px;
}
.Fikstur-adi {
    padding: 10.5px 16px;  
    width: 295px;
    height: 50px;
    text-align: center;
    font-size: 12px;
   
}
.Fikstur-button-p {
    padding: 10.5px 16px;  
    width: 313px;
    height: 50px;
    text-align: left;
    background: #3d4c64;
    color: #fbfbfb;
    font-size: 12px;
   
}
.Fikstur-button-n {
    padding: 10.5px 16px;  
    width: 326px;
    height: 50px;
    text-align: right;
    background: #3d4c64;
    color: #fbfbfb;
    font-size: 12px;
   
}
.fikstur-footer-bilgi {
    padding: 10.5px 16px;
    width: 97px;
    height: 50px;
    text-align: center;
    font-size: 12px;
    background: #2a3444;
    color: #fbfbfb;
}
.lates-sıra-l {
    padding: 10.5px 16px;  
    width: 235px;
    height: 50px;
    text-align: left;
    font-size: 12px;
    background: #3d4c64;
    color: #fbfbfb;
   
}
.lates-sıra-r {
    padding: 10.5px 16px;  
    width: 235px;
    height: 50px;
    text-align: right;
    font-size: 12px;
    background: #3d4c64;
    color: #fbfbfb;
   
}


:root {
    scroll-behavior: smooth;
  }
  
  body {
      margin: 1rem;
  }
  
  .stt {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgb(128, 128, 255) url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
    box-shadow: 0 0.25rem 0.5rem 0 gray;
    opacity: 0.7;
  }
  
  .stt:hover {
    opacity: 0.8;
  }
  
  .stt:focus {
    opacity: 0.9;
  }
  
  .stt:active {
    opacity: 1;
  }
  